* {
    box-sizing: border-box;
    background-color: #3D3D3D;
}

body {
    margin: 0;
}

aside {
    max-height: calc(100vh - var(--pst-header-height));
    order: 2;
    overflow-y: auto;
    padding: 2rem 1rem 1rem;
    position: sticky;
    top: var(--pst-header-height);
    width: var(--pst-sidebar-secondary);
    display: flex;
    flex-direction: column;
    background-color: var(--pst-color-background);
    flex-shrink: 0;
}

aside a{
    text-decoration: none;
    color: #F9F9F9;
}
aside li{
    list-style: none;
    font-weight: 600;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
}

#conteudo {
    color: #F9F9F9;
    margin: 3% 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 60em;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
}

mark {
    background-color: gray;
    border-radius: 3px;
    padding: 1px;
    color: #F9F9F9;
}